<h1>Personalized styles for Flash Messages</h1>

<% @flash.each do |key, value| %>
	<p><%= key.capitalize %></p>
   <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<div>powered by TX</div>